<?xml version="1.0" encoding="utf-8"?>
<settings>
  <settings>
    <Root>
      <РабочийСтол>
        <Общие>
          <Метрика Отступы="4" ШиринаСкролла="16"/>
          <Вид ПоказыватьПанельСтатуса="1" ПоказыватьЛевуюПанельЭлементов="1" ПоказыватьПравуюПанельЭлементов="1" ПоказыватьНижнююПанельЭлементов="1" ОтступыНаГлавномОкне="1"/>
        </Общие>
      </РабочийСтол>
      <Цвета>
        <Общие/>
        <Формы ЦветТекста="16777215" ЦветОкна="1973790" ЦветФормы="3355447" ЦветГраницы="-2138206835" АктивныйЦвет="11304960" ЦветКнопки="31436" ЦветРедактирования="2510712" ЦветЗакладок="16763904" ЦветТекстаЗакладок="0" ЦветПодсказки="6579320" ЦветТекстаПодсказки="16777215"/>
      </Цвета>
      <Расширения/>
      <Компилятор>
        <Основные>
          <Директории Проекты="E:/documents/scripter"/>
        </Основные>
      </Компилятор>
    </Root>
  </settings>
  <controls>
    <navigator Docking="0" Disabled="false"/>
  </controls>
  <windows>
    <application x1="129" y1="29" x2="1205" y2="676"/>
  </windows>
</settings>