<?xml version="1.0" encoding="utf-8"?>
<settings>
  <settings>
    <Root>
      <РабочийСтол>
        <Общие>
          <Метрика Отступы="4" ШиринаСкролла="16"/>
          <Вид ПоказыватьПанельСтатуса="1" ПоказыватьЛевуюПанельЭлементов="1" ПоказыватьПравуюПанельЭлементов="1" ПоказыватьНижнююПанельЭлементов="1" ОтступыНаГлавномОкне="1"/>
        </Общие>
      </РабочийСтол>
      <Цвета>
        <Общие/>
        <Формы ЦветТекста="0" ЦветОкна="16777215" ЦветФормы="15790320" ЦветГраницы="11316396" АктивныйЦвет="32940" ЦветКнопки="14671839" ЦветРедактирования="11392767" ЦветЗакладок="31436" ЦветТекстаЗакладок="16777215" ЦветПодсказки="5263480" ЦветТекстаПодсказки="16777215"/>
      </Цвета>
      <Расширения/>
      <Компилятор>
        <Основные>
          <Директории Проекты="E:/documents/scripter" Библиотека=""/>
        </Основные>
      </Компилятор>
    </Root>
  </settings>
  <controls>
    <navigator Docking="0" Disabled="false"/>
  </controls>
  <windows>
    <application x1="37" y1="31" x2="1021" y2="708"/>
    <symbol x1="525" y1="288" x2="841" y2="427"/>
  </windows>
</settings>